$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);
$red: #92140c;
$pink: #a40e4c;
$purple: #2c2c54;
$black: #lele24;
$white: #fff8fO;
$mainfont: 'Gill Sans MT Ext Condensed Bold';
$secondfont: 'Microsoft Sans Serif';

body {
  background-color: $deep-grey;

}
